*{
    font-family: 'REM' ,sans-serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    background-color: antiquewhite;
}
.show{
  display: block;
}
.hide{
  display: none;

}
.container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
  .custom-select {
    position: relative;
    width: 30rem;
    border: 1px solid gold;
  }
  .select-box{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 0.8rem;
    cursor: pointer;
  }
  .selected-options{
    display: flex;
    flex-wrap: wrap;
    margin-top:0;
  }
  .tag{
    background-color: #f2f2f2;
    color: #000;
    border-radius: .3rem;
    margin-right: 0.3rem;
    margin-top:0.15rem;
    margin-bottom: 0.15rem;
    padding:0.2rem 1rem;
    display: flex;
    align-items: center;
  }
  .remove-tag{
    margin-left:.5rem;
    cursor: pointer;
  }
  .arrow{
    margin :0 1rem;
  }
  .fa-angle-down,.fa-angle-up{
    color: #404040;
    font-size: 1.5rem;
  }
  .options{
    display:none;
    width: 100%;
    background-color:white;
    border:1px solid #ced4da;
    max-height: 20rem;
    overflow-y:auto;
    z-index: 1;
    box-shadow: 0px 4px 8px rgb(0,0,0,0.1);
  }
  .open .options{
    display: block;
  }
  .option-search-tags{
    position: relative;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    padding: 8px 0px;
    margin: 8px;
  }
  .search-tags{
width: 100%;
    border: none;
    outline: none;
    padding:8px;
    font-size: 14px;
  }
  .clear{
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size:14px;
    font-weight: 600;
    padding:0px;
    color: blue;
    top:15px;
    left:auto;
    right:15px;
  }
  .option{
    padding:12px;
    cursor: pointer;
  }
  .option.active{
    color:#000;
    background-color:#f2f2f2;
    border-bottom: 1px solid yellow;
    font-weight: bold;;
    /* pointer-events: none; */
  }
  .tag:hover{
    background-color: #eaeaea;
    
  }
  .option:hover{
    background-color: #f3f1f1c7;
  }
  .option.active:hover{
    background-color: #eaeaeab7;
  }
  .no-result-message{
    padding: 0px 0px 12px 12px;
  }
  .error{
    color:#ff1a2a;
    margin-top:8px;
  }

  
.btn-submit {
    border: none;
    padding: 1rem;
    font-size: 1rem;
    background: #2fe22f;
    color: white;
    font-weight: 600;
  }
  .btn-submit:hover {
    background: #27c127;
  }